[submodule "deploy"]
	path = deploy
	url = git@github.com:nathanmentley/skaioskit-deployment.git
[submodule "server/voter-service"]
	path = server/voter-service
	url = git@github.com:nathanmentley/skaioskit-voter-service.git
[submodule "server/auth-service"]
	path = server/auth-service
	url = git@github.com:nathanmentley/skaioskit-auth-service.git
[submodule "server/user-service"]
	path = server/user-service
	url = git@github.com:nathanmentley/skaioskit-user-service.git
[submodule "server/gateway-service"]
	path = server/gateway-service
	url = git@github.com:nathanmentley/skaioskit-gateway-service.git
[submodule "libs/go-core"]
	path = libs/go-core
	url = git@github.com:nathanmentley/skaioskit-go-core.git
[submodule "client/web"]
	path = client/web
	url = git@github.com:matthewjhough/skaioskit-client.git
